node_modules
.turbo
dist
coverage
examples/**/test/visual-baselines/*.receipt.json
pnpm-lock.yaml
package-lock.json

packages/*/dist
packages/core/OSM_BRIGHT_LICENSE.md
packages/core/src/templates/osm-bright/LICENSE.md
packages/core/src/templates/osm-bright/style.json
